@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #F5F7FA; /* Abu-abu muda khas BankDash */
  color: #232323;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Hapus display flex & place-items center dari bawaan vite agar dashboard tidak ke tengah */
  display: block; 
  overflow-x: hidden;
}

/* Scrollbar Custom agar lebih cantik (Opsional) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B1B1B1;
}

/* Menghilangkan efek default Link */
a {
  text-decoration: none;
  color: inherit;
}

/* Utility untuk background BankDash */
.bg-main {
  background-color: #F5F7FA;
}

.text-navy {
  color: #343C6A;
}

.text-blue-link {
  color: #1877F2;
}